.titulo {

    font-family: sans-serif;
}
.sub{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.n{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

}